In [3]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'0.23.4'

In [6]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [8]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
data[1]

0.5

In [11]:
pd.DataFrame(np.random.rand(3,4))

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.367913</td>
      <td>0.783715</td>
      <td>0.077474</td>
      <td>0.540762</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.346119</td>
      <td>0.795228</td>
      <td>0.103471</td>
      <td>0.086415</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.686399</td>
      <td>0.758406</td>
      <td>0.795088</td>
      <td>0.837117</td>
    </tr>
  </tbody>
</table>
</div>